.KeyLayout {
  padding: 4px 10px 14px;
}

.KeyLayout .KeyRow {
  width: 100%;
  position: relative;
}

.KeyLayout .KeyRow .cell {
  display: inline-block;
  position: relative;
  width: 20%;
  padding: 6px 4px;
}

button {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: white;
  background: #383840;
  background: linear-gradient(to bottom,#404040 50%,#303030 100%);
  box-shadow:
    1px 1px 1px 1px rgba(0,0,0,0.1),
    0px 0px 0px 1px rgba(0,0,0,0.8),
    inset 1px 0px 1px 0px rgba(0,0,0,0.3),
    inset -1px 0px 1px 0px rgba(0,0,0,0.3),
    inset 0px 1px 1px 0px rgba(255,255,255,0.4),
    inset 0px -3px 3px rgba(255,255,255,0.1),
    0px 8px 10px 0px rgba(0, 0, 0, .3);
  border: 1px solid #0B0C10;
  border-radius: 6px 6px 12px 12px;
  -webkit-appearance: none;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
  text-shadow: 2px 3px 1px rgba(0,0,0,0.3);
}

button:hover {
  background: linear-gradient(to bottom,#606060 30%,#303030 100%);
  box-shadow:
    3px 3px 5px 0px rgba(0,0,0,0.3),
    0px 0px 0px 1px rgba(0,0,0,0.9),
    inset 1px 0px 1px 0px rgba(0,0,0,0.3),
    inset -1px 0px 1px 0px rgba(0,0,0,0.3),
    inset 0px 1px 1px 0px rgba(255,255,255,0.9),
    inset 0px -3px 3px rgba(255,255,255,0.1),
    0px 8px 10px 0px rgba(0, 0, 0, .3),
    inset 0px -3px 1px 1px rgba(0, 0, 0, 0.3);
}

button:active {
  background: linear-gradient(to bottom,#202020 50%,#303030 100%);
  box-shadow:
    1px 1px 1px 1px rgba(0,0,0,0.1),
    0px 0px 0px 1px rgba(0,0,0,0.8),
    inset 1px 0px 1px 0px rgba(0,0,0,0.3),
    inset -1px 0px 1px 0px rgba(0,0,0,0.3),
    inset 0px 1px 1px 0px rgba(255,255,255,0.4),
    inset 0px -3px 3px rgba(255,255,255,0.1),
    0px 8px 10px 0px rgba(0, 0, 0, .3),
    inset 0px 4px 1px 1px rgba(0, 0, 0, .3);
}

.-red button {
  background: #975265;
  background: linear-gradient(to bottom,#975265 50%,#843A4F 100%);
}

.-red button:hover {
  background: #c0607b;
  background: linear-gradient(to bottom,#c0607b 30%,rgb(104, 46, 63) 100%);
}

.-red button:active {
  background: #46222c;
  background: linear-gradient(to bottom,#46222c 50%,#682d3d 100%);
}

.--acbutton button:after {
  content: "ON";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 5px;
  width: calc(100% - 8px);
  font-size: 10px;
  text-align: center;
  color: #404040;
  text-shadow: none;
}

.--acbutton:after,
.--acbutton:before {
  z-index: 1;
  position: absolute;
  content: "";
  display: block;
  height: 28px;
  width: 6px;
  top: 10px;
  left: -2px;
  transform: skewX(3deg);
  border-radius: 6px 0px 6px 9px;
  border: 2px solid #0B0C10;
  background: #404040;
  background: linear-gradient(to bottom,#404040 60%,#5E6474 100%);
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3)
}

.--acbutton:after {
  left: auto;
  right: -1px;
  border-radius: 0px 6px 6px 9px;
  transform: skewX(-3deg);
}

.-small button {
  height: 30px;
}

.-large button {
  height: 92px;
  z-index: 100;
  position: absolute;
  top: -13px;
  width: calc(100% - 8px);
}