* {
  box-sizing: border-box;
}

.App {
  color: #303030;
  text-align: center;
}

.App-header {
  padding: 10px;
  color: white;
}

.App-header p {
  color: gray;
}

p.App-lead {
  border-top: 1px solid #151515;
  padding-top: 24px;
  color: dimgray;
  font-size: 12px;
  font-weight: bold;
}

.App-title {
  font-weight: 100;
}

.App-intro {
  margin: 0 auto;
  width: 320px;
  text-align: left;
}

.Footer-text {
  color: #606060;
  font-size: 80%;
  margin-top: 30px;
}

.Footer-text a {
  color: gray;
}
