@import "Calculator/assets/fonts/digit/index.css";

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom,#000 50%,#222 100%);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
